<%= div_for question do %>
<div class="stats">
	<div class="voted">
		<%= to_k question.voted %> 投票
	</div>
	<div class="answered">
		<%= to_k question.answered %> 答案
	</div>
	<div class="viewed">
		<%= to_k question.viewed %> 浏览
	</div>
</div>
<div class="summary">
	<h3><%= link_to question.title, question %></h3>
	<div class="excerpt">
		<%= question.html_body.gsub(/<\/?[^>]*>/,  "") %>
	</div>
	<div class="msg">
		ask <span style="font-weight:bold"><%= time_ago_in_words question.created_at %></span> ago
	</div>
	<div class="tags">
		<% question.tagged_list.each do |tag| %>
			<%= link_to tag, tagged_url(:tag => tag), :class => 'tag' %>
		<% end -%>
	</div>
</div>
<% end -%>