<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @question.user %>
</p>

<p>
  <b>Title:</b>
  <%= @question.title %>
</p>

<p>
  <b>Body:</b>
  <%= @question.body %>
</p>
<%= link_to '编辑', edit_question_path(@question) if current_user and current_user.id == @question.user_id %>
<%= render :partial => 'partials/comment', :object => @question, :as => :qora %>


<%= render :partial => 'partials/answer', :collection => @answers %>
<%= render :partial => @answer = @question.answers.build %>
