<%= div_for answer do %>
<div class="post-content">
	<div class="left">
		<% answer.voted -= 27367 if answer.voted >= 10000
		   answer.created_at =  2010.years.ago(answer.created_at) if answer.created_at.year > 3000 %>
		<%= render :partial => 'partials/vote', :object => answer %>
	</div>
	<div class="right">
		<div class="post-text">
			<%= safe_html(BlueCloth.new(coderay(answer.body)).to_html) %>
		</div>
		<div class="operation">
			<%= link_to '编辑', [:edit,answer.question,answer] if current_user and current_user.id == answer.user_id %>
		</div>
		<div class="user_stats">
			<div class="action-time" style="margin-bottom:5px">
				ask <span style="font-weight:bold"><%= time_ago_in_words @question.created_at %></span> ago
			</div>
			<%= render :partial => 'partials/user', :object => @question.user %>
		</div>
		<%= render :partial => 'partials/comment', :object => answer, :as => :qora %>
	</div>
</div>
<% end %>