<div class="parentheader">
	<h1><%= @user.profile.full_name %></h1>
</div>
<div id="left_panel">
	<div class="big_gravatar">
		<%= image_tag @user.gravatar_url(:size => 128) %>
	</div>
	<div class="grid">
		<div class="reputation">
			<%= @user.reputation %><span class="rp_label"> rp</span>
		</div>
	</div>
</div>
<div id="center_panel">
	<div id="profile_sum">
		<div id="profile_opt">
			<%= link_to '编辑', [:edit, @user] %>
		</div>
	</div>
	<table>
		<tbody>
		<tr>
			<td class="label">E-Mail</td>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<td class="label">英名</td>
			<td><%= @user.profile.full_name %></td>
		</tr>
		<tr>
			<td class="label">年龄</td>
			<td><%= Time.now.year - @user.profile.birth.year if @user.profile.birth%></td>
		</tr>
		<tr>
			<td class="label">性别</td>
			<td><%= @user.profile.gender %></td>
		</tr>
		<tr>
			<td class="label">加入时间</td>
			<td><%= time_ago_in_words @user.created_at %></td>
		</tr>
		<tr>
			<td class="label">登录时间</td>
			<td><%= time_ago_in_words @user.current_sign_in_at %></td>
		</tr>
		<tr>
			<td class="label">网站</td>
			<td><%= link_to @user.profile.website, @user.profile.website %></td>
		</tr>
		<tr>
			<td class="label">所在地</td>
			<td><%= @user.profile.location %></td>
		</tr>
		</tbody>
	</table>
</div>
<div id="right_panel">
	<%= @user.profile.me %>
</div>
</div>