<%= javascript_include_tag 'openid', 'fire' %>
<div class="parentheader">
	<h1>使用OpenID登录</h1>
</div>
<div id="openid_choice">
	<div id="openid_btns">
	</div>
</div>
<div id="openid_input_area">
</div>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  
  <div id="openid_input">
  	  <%= f.text_field :identity_url, :id => 'openid_identifier' %>

	  <% if devise_mapping.rememberable? -%>
	    <p><%= f.check_box :remember_me, { :checked => true } %> <%= f.label '记住我' %></p>
	  <% end -%>
  </div>
  <%= f.submit '登录', :id => 'submit-button' %>
<% end %>