<!DOCTYPE html>
<html>
<head>
  <title>Cook</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'jui', 'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="container">
		<%= tabs_tag(:builder => ApplicationHelper::NavTabBuilder, :open_tabs => { :class => "navigation" }) do |tab| %>
			<%= tab.questions	'问题',	questions_path %>
			<%= tab.tags		'标签',	tags_path %>
			<%= tab.users		'用户',	users_path %>
			<%= tab.ask			'提问',	new_question_path %>
		<% end %>
		<div id="wrapper">
			<%= yield %>
		</div>
	</div>
</body>
</html>
