<!DOCTYPE html>
<html>
<head>
  <title>Cook</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'jui', 'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="container">
		<div id="menu">
			<% if user_signed_in? %>
				<div class="micro_gravatar">
					<%= image_tag current_user.gravatar_url(:size => 20) %>
				</div>
				<%= link_to current_user.profile.full_name, current_user %> 
				<%= link_to current_user.reputation %> | 
				<%= link_to "注销", destroy_user_session_path %>
			<% else %>
				<%= link_to "使用OpenID登录", new_user_session_path %>
			<% end %>
		</div>
		<div id="return0">
			<%= link_to image_tag("return0.png"), root_url %>
		</div>
		<%= tabs_tag(:builder => ApplicationHelper::NavTabBuilder, :open_tabs => { :class => "navigation" }) do |tab| %>
			<%= tab.questions	'问题',	questions_path %>
			<%= tab.tags		'标签',	tags_path %>
			<%= tab.users		'用户',	users_path %>
			<%= tab.unanswered	'待解决',	unanswered_path %>
			<%= tab.ask			'提问',	new_question_path %>
		<% end %>
		<% form_tag search_path, :method => :get do %>
		<%= text_field_tag :search, params[:search] %>
		<% end %>
		<div id="wrapper">
			<%= yield %>
		</div>
	</div>
	<div id="footer">
		<div id="cpright">
			Copyright © 2010 Return 0 Team. 保留所有权利。 | revision: 2010.9.29 | 
			用户贡献的内容采用<a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/">知识共享署名-相同方式共享 2.5 未本地化版本许可协议</a>进行许可。
		</div>
	</div>
</body>
</html>
